<!-- Page Content -->
<div id="page-content-wrapper">
    <link rel="stylesheet" type="text/css" href="/css/info.css">
    <!--link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" /-->
    <link href="/css/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <!--link href="/css/style2.css" rel="stylesheet" type="text/css" /-->
    <!--link href="/css/chosen.min.css" rel="stylesheet" type="text/css" /-->


    {{#if is_ver }}

        <div class="container-fluid content-main">
            <!--"/api/create-trial"-->
            <form role="form" method="post" action="/api/create-trial"  >








                                    <!-- Form Name -->
                                    <legend>Questionnaire Details</legend>

                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="control-label" for="Title">Title</label>
                                        <input id="title" name="title" type="text" placeholder="Enter Title for Questionaire" class="form-control input-md" required="">
                                    </div>

                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="control-label" for="txtbriefdesc">Brief Description</label>
                                        <input id="briefdescription" name="briefdescription" type="text" placeholder="Enter Brief Description Here" class="form-control input-md" required="">
                                    </div>

                                    <!-- Textarea -->
                                    <div class="form-group">
                                        <label class="control-label" for="txtlongdesc">Long Description</label>
                                        <textarea class="form-control" id="detaileddescription" name="detaileddescription"></textarea>
                                    </div>

                                    <!-- Button Drop Down -->
                                    <div class="form-group">
                                        <label class=" control-label" for="qtype">Questionnaire Type</label>
                                        <select name="trialtype" id="trialtype" class="form-control" >
                                            <option>Type1</option>
                                            <option>Type2</option>
                                            <option>Type3</option>
                                            <option>Type4</option>
                                            <option>Type5</option>
                                        </select>
                                    </div>

                <!-- Button Drop Down -->
                <div class="form-group">
                    <label class=" control-label" for="qtype">Condition Type</label>
                    <select name="condition" id="condition" class="form-control" >
                        <option>Type1</option>
                        <option>Type2</option>
                        <option>Type3</option>
                        <option>Type4</option>
                        <option>Type5</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="control-label" for="qtags"> Frequency</label>
                    <input id="frequency" name="frequency" type="number" placeholder="Frequency Quota" min="0" max="100" class="form-control input-md" required="" autocomplete="off">
                </div>


                                    <div class="form-group">
                                        <label class="control-label" for="qtags"> Quota</label>
                                        <input id="candidatequota" name="candidatequota" type="number" placeholder="Questionnaire Quota" min="0" max="100" class="form-control input-md" required="" autocomplete="off">
                                    </div>

                <div class="form-group">
                    <label class="control-label" for="passmark"> Pass Mark</label>
                    <input id="passmark" name="passmark" type="number" placeholder="Pass Mark" min="0" max="100" class="form-control input-md" required="" autocomplete="off">
                </div>

                                    <div class="form-group">
                                        <label class="control-label" for="qtags"> Tags</label>
                                        <select class="tags form-control" name="condition" id="condition" multiple="multiple">
                                            <option>tag1</option>
                                            <option>tag2</option>
                                            <option>tag3</option>
                                            <option>tag4</option>
                                        </select>
                                    </div>

                                    <!-- Textarea -->
                                    <div class="form-group">
                                        <label class=" control-label" for="qdesc2">Waiver Formm</label>
                                        <textarea class="form-control" id="waiverform" name="waiverform"></textarea>
                                    </div>

                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class=" control-label" for="qduration">Duration</label>
                                        <input id="duration" name="duration" type="text" placeholder="Questionnaire Duration" class="form-control input-md" required="">
                                    </div>

                                    <!-- Multiple Checkboxes (inline) -->
                                    <div class="form-group">
                                        <label class=" control-label" for="eligibiltyform">Eligiblity</label>
                                        <label class="checkbox-inline" for="eligibiltyform-0">
                                            <input type="checkbox" name="eligibiltyform" id="eligibiltyform" value="1">
                                            Yes </label>
                                    </div>



                                    <div id="e-questionlist">
                                        <div class="form-group">
                                            <label for="e-q1title" class="control-label">1. Eligibilty Question </label>
                                            <input type="text" class="form-control col-md-4 qtitle" id="e-q1_title"  name="e-q1_title" placeholder="Enter Title" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="e-q1_type">Question Type</label>
                                            <select  class="form-control e-qtype" name="e-q1_type">
                                                <option data-cat="">Select Answer Type</option>
                                                <option data-cat="choice">Checkbox</option>
                                                <option data-cat="choice">Radio</option>
                                                <option data-cat="">Text</option>
                                                <option data-cat="">Scale</option>
                                            </select>
                                        </div>
                                        <div class="form-group hide questions_answers">
                                            <label for="e-no_of_options">No Of Answers</label>
                                            <select  class="form-control e-no_of_options" name="e-q1_no_of_options" ><option value="0">Select no of Answers</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option></select></div>
                                        <div class="form-group hide e-answers">
                                            <label>Answers</label>
                                            <div class="col-lg-12 e-answers_content"></div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <a href="#" id="e-add-more" class="btn btn-info">Add More</a><a href="#" id="e-btn-remove" class="btn btn-warning pull-right">Remove</a>
                                    </div>






                                    <div id="questionlist">
                                        <div class="form-group">
                                            <label for="q1title" class=" control-label">1. Question Title</label>
                                            <input type="text" class="form-control col-md-4 qtitle" id="q1_title" name="q1_title" placeholder="Enter Title" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="q1_type">Question Type</label>
                                            <select  class="form-control qtype" name="q1_type">
                                                <option data-cat="">Select Answer Type</option>
                                                <option data-cat="choice">Checkbox</option>
                                                <option data-cat="choice">Radio</option>
                                                <option data-cat="">Text</option>
                                                <option data-cat="">Scale</option>
                                            </select>
                                        </div>
                                        <div class="form-group hide questions_answers">
                                            <label for="no_of_options">No Of Answers</label>
                                            <select  class="form-control no_of_options" name="q1_no_of_options" ><option value="0">Select no of Answers</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option></select></div>
                                        <div class="form-group hide answers">
                                            <label>Answers</label>
                                            <div class="col-lg-12 answers_content"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">

                                        <a href="#" id="add-more" class="btn btn-info">Add More</a><a href="#" id="btn-remove" class="btn btn-warning pull-right">Remove</a>
                                    </div>





















                <div class="row">
                    <div class="col-md-2 col-md-offset-5 center-text center-form">
                        <button class="btn-create-trial btn-lg btn-primary btn-block" type="submit">
                            Create Trial
                        </button>
                    </div>
                </div>
            </form>
        </div>

    {{else}}
        <div>
            Your Profile is not verified, please
            look in your inbox of the e-mail address
            with which you registered. Once there you
            should see an email from us with a link to
            click. Please click the link to verify your
            profile and proceed to trial creation.
        </div>
    {{/if}}


</div>

<script src="https://code.jquery.com/jquery-3.1.0.min.js"
        integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/modernizr-2.6.2.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui.js"></script>

<script type="text/javascript" src="/js/chosen.jquery.min.js"></script>
<script type="text/javascript" src="/js/custom.js"></script>