<!-- Page Content -->
<div id="page-content-wrapper">
    <link rel="stylesheet" type="text/css" href="/css/info.css">
    <div class="container-fluid content-main">
        <!--"/api/create-trial"-->
        <form action="/api/create-trial" method="post" role="form">
            <div class="row">
                <div class="col-lg-12">
                    <!-- title -->
                    <div class="page-header">
                        <h3>Create Trial</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="page-header">
                        <h4>Trial Details</h4>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="page-header">
                        <h4>Multimedia</h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="center-form">
                        <div class="form-create-trial form-create-trial-margin">
                            <div class="form-group">
                                <input class="form-control" type="text" id="title" name="title" placeholder="Trial Title" required autofocus>
                                <span title="Trial Title is the first thing that candidates will see when choosing to join a trial." class="fa fa-info-circle errspan" ></span>
                            </div>
                            <div class="form-group">
                                            <textarea class="form-control description-box" rows="2"
                                                      id="briefdescription"
                                                      name="briefdescription"
                                                      placeholder="Brief Description" required></textarea>
                                <span title="Brief Description is the short description that candidates will first see when searching for trials under the title." class="fa fa-info-circle errspan" ></span>
                            </div>

                            <div class="form-group">
                                            <textarea class="form-control description-box" rows="10"
                                                      id="detaileddescription"
                                                      name="detaileddescription"
                                                      placeholder="Detailed Description" required></textarea>
                                <span title="Detailed Description is seen when a candidate clicks into a trial providing in depth details about the trial." class="fa fa-info-circle errspan" ></span>
                            </div>

                            <div class="row">
                                <div class="col-sm-4 col-md-4">
                                    <select class="form-control" name="trialtype" id="trialtype" required>
                                        <option value="def_trialtype_placeholder" disabled>Trial Type</option>
                                        <option value="pharmaceutical">Pharma</option>
                                        <option value="biomedicaldevice">Bio-Device</option>
                                        <option value="consumable">Food</option>
                                        <option value="behavioural">Behavioural</option>
                                    </select>
                                    <span title="Trial Type is the category of clinical trial being performed." class="fa fa-info-circle errspan" ></span>
                                </div>

                                <div class="col-sm-4 col-md-4">
                                    <input class="form-control" type="text" id="candidatequota" name="candidatequota"
                                           placeholder="Candidate Quota" required>
                                    <span title="Candidate Quota is the minimum amount of candidates needed in order to be able to set a trial ongoing." class="fa fa-info-circle errspan" ></span>
                                </div>

                                <div class="col-sm-4 col-md-4">
                                    <select class="form-control" name="condition" id="condition" required>
                                        <option value="def_condition_placeholder" disabled>Condition Type
                                        </option>
                                        <option value="cancer">Cancer</option>
                                    </select>
                                    <span title="Condition Type is the condition pertaining to the trial. It's used for categorisation." class="fa fa-info-circle errspan" ></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <!-- title -->
                    <div class="page-header">
                        <h4>Question Details</h4>
                    </div>
                </div>
                <div class="col-lg-6">
                    <!-- title -->
                    <div class="page-header">
                        <h4>Trial Tips</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-6">

                    <div class="center-form form-create-trial form-create-trial-margin" id="question-holder">

                    </div>
                    <div><a id="add-question-btn">Add Question</a></div>
                    <span title=" Click here to add another question " class="fa fa-info-circle errspan" ></span>
                </div>

                <div class="col-sm-6 col-md-6">
                    <ul>
                        <li><strong>Question Type</strong> is the type of question that can be asked:</li>
                        <ul>
                            <li><strong>Checkbox</strong> is where a candidate can select any amount of answers,
                                including none or all.
                            </li>
                            <ul>
                                <li><strong>Requires options for candidate to select</strong></li>
                            </ul>
                            <li><strong>Choice</strong> is where a candidate can select only <strong>one</strong>
                                answer.
                            </li>
                            <ul>
                                <li><strong>Requires options for candidate to select</strong></li>
                            </ul>
                            <li><strong>Scale</strong> is where a candidate can drag a bar to a level between 0 and 100
                                incorporating colours.
                            </li>
                            <li><strong>Section</strong> is where a candidate can write unlimited text into a paragraph
                            </li>
                        </ul>
                        <li><strong>Question Option</strong> is the potential option a candidate can choose if the type
                            utilises selection.
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2 col-md-offset-5 center-text center-form">
                    <button class="btn-create-trial btn-lg btn-primary btn-block" type="submit">
                        Create Trial
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.1.0.min.js"
        integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
<script>
    var questionCount = 1;
    addQuestion();
    $('#add-question-btn').click(function () {
        ++questionCount;
        addQuestion();
    });
    function addQuestion() {

        $('.questiontype').on('change', function () {
            $('.question-holder').append('<div class="row">' +
                    '<div class="col-sm-12 col-md-12">' +
                    '<input class="form-control" type="text" id="answer1" name="answer1" placeholder="Option 1">' +
                            '<span title=" Question type" class="fa fa-info-circle errspan" ></span>'+
                    '</div>' +
                    '</div>');
        });
        $('#question-holder').append('<div id="account-wall question-group-' + questionCount + '">' +
                '<a class="remove-field">Remove</a>' +
                '<div class="form-group"<h4>Question</h4></div>' +
                '<div class="form-group">' +
                '<input class="form-control questiontitle' + questionCount + '" type="text" name="questiontitle' +
                questionCount + '" placeholder="Question Title">' +
                '<span title="Question Title is the text that candidates will read with options (if any) of answers underneath it." class="fa fa-info-circle errspan" ></span>'+
                '</div>' +
                '<div class="row form-group">' +
                '<div class="col-sm-6 col-md-6">' +
                '<select class="form-control questiontype' + questionCount + '" name="questiontype' + questionCount + '">' +
                '<option value="def_trialtype_placeholder" disabled>Trial Type' +
                '</option>' +
                '<option value="checkbox">Checkbox</option>' +
                '<option value="choice">Choice</option>' +
                '<option value="scale">Scale</option>' +
                '<option value="section">Section</option>' +
                '</select>' +
                '</div>' +
                '<div class="col-sm-6 col-md-6">' +
                '<a class="add-option-btn">Add Option</a>' +
                '</div></div></div>');
        $('.remove-field').click(function () {
            questionCount--;
            $(this).closest('div').remove();
        });
        $('.add-option-btn').click(function () {
            $(this).closest('div').append('<div class="row">' +
                    '<input class="form-control" type="text" id="answer' + questionCount + '" name="answer' + questionCount + '" placeholder="Option">' +
                    '<a class="remove-field">Remove</a>' +
                    '</div>');
        });
    }
</script>