<!-- Page Content -->
<div id="page-content-wrapper">
    <link rel="stylesheet" type="text/css" href="/css/info.css">
    <div class="container-fluid content-main">
        <!--"/api/create-trial"-->
        <form action="/api/create-trial" method="post" role="form">
            <div class="row">
                <div class="col-lg-12">
                    <!-- title -->
                    <div class="page-header">
                        <h3>Create Trial</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="page-header">
                        <h4>Trial Details</h4>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="page-header">
                        <h4>Waiver</h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="center-form">
                        <div class="form-create-trial form-create-trial-margin">
                            <div class="form-group">
                                <input class="form-control" type="text" id="title" name="title"
                                       placeholder="Trial Title" required autofocus>
                                <span title="Trial Title is the first thing that candidates will see when choosing to join a trial."
                                      class="fa fa-info-circle errspan"></span>
                            </div>
                            <div class="form-group">
                                            <textarea class="form-control description-box" rows="2"
                                                      id="briefdescription"
                                                      name="briefdescription"
                                                      placeholder="Brief Description" required></textarea>
                                <span title="Brief Description is the short description that candidates will first see when searching for trials under the title."
                                      class="fa fa-info-circle errspan"></span>
                            </div>

                            <div class="form-group">
                                            <textarea class="form-control description-box" rows="10"
                                                      id="detaileddescription"
                                                      name="detaileddescription"
                                                      placeholder="Detailed Description" required></textarea>
                                <span title="Detailed Description is seen when a candidate clicks into a trial providing in depth details about the trial."
                                      class="fa fa-info-circle errspan"></span>
                            </div>

                            <div class="row">
                                <div class="col-sm-4 col-md-4">
                                    <select class="form-control" name="trialtype" id="trialtype" required>
                                        <option value="" disabled selected>Trial Type</option>
                                        <option value="pharmaceutical">Pharma</option>
                                        <option value="biomedicaldevice">Bio-Device</option>
                                        <option value="consumable">Food</option>
                                        <option value="behavioural">Behavioural</option>
                                    </select>
                                    <span title="Trial type is the category of clinical trial being performed."
                                          class="fa fa-info-circle errspan"></span>
                                </div>

                                <div class="col-sm-4 col-md-4">
                                    <input class="form-control" type="text" id="candidatequota" name="candidatequota"
                                           placeholder="Candidate Quota" required>
                                    <span title="Candidate Quota is the minimum amount of candidates needed in order to be able to set a trial ongoing."
                                          class="fa fa-info-circle errspan"></span>
                                </div>

                                <div class="col-sm-4 col-md-4">
                                    <input class="form-control" type="text" id="duration" name="duration"
                                           placeholder="Trial Duration" required>
                                    <span title="Duration is the planned duration of the trial in days"
                                          class="fa fa-info-circle errspan"></span>
                                </div>

                                <div class="col-sm-4 col-md-4">
                                    <select class="form-control" name="condition" id="condition" required>
                                        <option value="" disabled selected>Condition Type
                                        </option>
                                        <option value="cancer">Cancer</option>
                                    </select>
                                    <span title="Condition Type is the condition pertaining to the trial. It's used for categorisation."
                                          class="fa fa-info-circle errspan"></span>
                                </div>

                                <div class="col-sm-4 col-md-4">
                                    <select class="form-control" name="frequency" id="frequency" required>
                                        <option value="" disabled selected>Frequency</option>
                                        <option value="daily">Daily</option>
                                        <option value="weekly">Weekly</option>
                                        <option value="fortnightly">Fortnightly</option>
                                        <option value="monthly">Monthly</option>

                                    </select>
                                    <span title="Frequncy selects the frequncy at which questions are sent"
                                          class="fa fa-info-circle errspan"></span>
                                </div>

                                <div class="col-sm-4 col-md-4">
                                    <select class="form-control" name="screening" id="screening" required>
                                        <option value="" disabled selected>Screening</option>
                                        <option value="e">Eligibility Form</option>
                                        <option value="c">Conditions</option>
                                        <option value="ec">Eligibility form & Conditions</option>
                                    </select>
                                    <span title="Screening lets the database know how you want your candiates to be screened"
                                          class="fa fa-info-circle errspan"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <textarea class="form-control description-box" rows="10" id="form1" name="form1"
                                  placeholder="Patient Data Protection Form" required></textarea>
                        <span title="Please input data protection form" class="fa fa-info-circle errspan"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <!-- title -->
                    <div class="page-header">
                        <h4>Question Details</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="center-form form-create-trial form-create-trial-margin" id="question-holder"></div>
                    <div><a id="add-question-btn">Add Question</a></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-md-offset-5 center-text center-form">
                    <button class="btn-create-trial btn-lg btn-primary btn-block" type="submit">
                        Create Trial
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.1.0.min.js"
        integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
<script>
    var questionCount = 1;
    var optionCount = {};
    addQuestion();
    addOption();

    $('#add-question-btn').click(function () {
        ++questionCount;
        addQuestion();

        $('.remove-field').click(function () {
            questionCount--;
            $(this).closest('div').remove();
        });
    });


    function addQuestion() {
        $('.questiontype').on('change', function () {
            $('.question-holder').append(
                    '<div class="row">' +
                    '<div class="col-sm-12 col-md-12">' +
                    '<input class="form-control" type="text" id="answer0" name="answer0" placeholder="Option 0">' +
                    '</div>' +
                    '</div>'
            );
        });

        $('#question-holder').append(
                '<div id="' + questionCount + '">' +
                    '<a class="remove-field">Remove Question</a>' +
                    '<div class="form-group"' +
                        '<h4>Question</h4>' +
                    '</div>' +
                    '<div class="form-group col-sm-12 col-md-12">' +
                        '<input class="form-control" type="text" name="questiontitle' + questionCount + '" placeholder="Question Title">' +
                            '<select class="form-control questiontype' + questionCount + '" name="questiontype' + questionCount + '">' +
                                '<option value=" " disabled selected>Question Type' + '</option>' +
                                '<option value="checkbox">Checkbox</option>' +
                                '<option value="choice">Choice</option>' +
                                '<option value="scale">Scale</option>' +
                                '<option value="section">Section</option>' +
                            '</select>' +
                        '<textarea class="form-control" name="answers' + questionCount + '" placeholder="Separate answers with a new line"/>' +
                    '</div>' +
                '</div>'
        );
    }

    $('#add-option-btn').click(function () {
        ++optionCount;
        addOption();
        console.log(optionCount);
        $('.remove-option').click(function () {
            --optionCount;
            $(this).closest('div').remove();
        });

    });


    function addOption() {
        $('.optiontype').on('change', function () {
            $('.option-holder').append(
                    '<div class="row">' +
                    '<input class="form-control" type="text" id="option" name="option" placeholder="Option">' +
                    '</div>' +
                    '</div>'
            );
        });

        $('#option-holder').append(
                '<div class="row">' +
                '<input class="form-control" type="text" id="option' + optionCount[questionCount] + '" name="option' + optionCount + '" placeholder="Option">' +
                '<a class="remove-option">Remove Option</a>' +
                '</div>'
        );
    }
</script>