<div id="page-content-wrapper">
    <div class="container-fluid content-main">
        <div class="row">
            <div class="col-lg-12">
                <!-- title -->
                <div class="page-header">
                    <h3>New Trial</h3>
                    <section class="insert danger-color">
                        <h3>Insert Trial Data</h3>
                        <form action="/insert" method="post" role="form" class="col-lg-6 danger-color">
                            <div class="form-group ">
                                <label for="trialname">TrialName</label>
                                <input type="text" id="trialname" name="trialname">
                            </div>
                            <div class="input">
                                <label for="description">Description</label>
                                <input type="text" id="description" name="description">
                            </div>

                            <div class="input">
                                <label for="trialtype">Trial Type</label>
                                <input type="text" id="trialtype" name="trialtype">
                            </div>
                            <div class="input">
                                <label for="researchgroup"> Research Group</label>
                                <input type="text" id="researchgroup" name="researchgroup">
                            </div>

                            <div class="input">
                                <label for="researchername"> Researcher name</label>
                                <input type="text" id="researchername" name="researchername">
                            </div>

                            <div class="input">
                                <label for="organisation">Organisation</label>
                                <input type="text" id="organisation" name="organisation">
                            </div>
                            <div class="input">
                                <label for="specialisation">Specialisation</label>
                                <input type="text" id="specialisation" name="specialisation">
                            </div>

                            <div class="input">
                                <label for="starttime">StartTime</label>
                                <input type="text" id="starttime" name="starttime">
                            </div>
                            <div class="input">
                                <label for="endtime">EndTime</label>
                                <input type="text" id="endtime" name="endtime">
                            </div>
                            <div class="input">
                                <label for="timeperiodfrequency">TimePeriodFrequency</label>
                                <input type="text" id="timeperiodfrequency" name="timeperiodfrequency">
                            </div>

                            <div class="input">
                                <label for="notificationfrequency">NotificationFrequency</label>
                                <input type="text" id="notificationfrequency" name="notificationfrequency">
                            </div>
                            <div class="input">
                                <label for="imageresource">ImageResource</label>
                                <input type="text" id="imageresource" name="imageresource">
                            </div>

                            <div class="input">
                                <label for="minage">Min Age</label>
                                <input type="text" id="minage" name="minage">
                            </div>

                            <div class="input">
                                <label for="condition">Condition</label>
                                <input type="text" id="condition" name="condition">
                            </div>

                            <div class="input">
                                <label for="prereqtype">Prereq type</label>
                                <input type="text" id="prereqtype" name="prereqtype">
                            </div>

                            <button type="submit">INSERT</button>
                        </form>
                    </section>

                </div>
            </div>
        </div>
    </div>
</div>