<!-- Page Content -->
<div id="page-content-wrapper"  style="margin-left: 250px">
    <div class="container-fluid content-main">
        <div class="row">
            <div class="col-lg-12">
                <!-- title -->
                <div class="page-header">
                    <h3>Dashboard</h3>
                </div>
            </div>
        </div>

        <!-- container for holding trial data -->
        <div id="dashboard-content-holder">
            {{{ content }}}
        </div>
    </div>
</div>