<div id="page-content-wrapper dashboard">
    <div class="container-fluid content-main">
        <div class="row">

        </div>
        <div class="row">

        </div>


        <div class="row text-center">
            <div class="col-md-6 text-left">
                <h1>Download Page </h1>
                <p>If your download hasn't started yet please click on the download button. </p>

                <button href="data:text/plain,this is some example" download="example1.txt" target="_blank">download csv
                </button>
                <p>For more information, visit our contact us page</p>
            </div>
        </div>
    </div>
</div>