<div id="carousel-showcase" class="carousel slide content-main" data-ride="carousel">
    <!--<ol class="carousel-indicators">
        <li data-target="#carousel-showcase" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-showcase" data-slide-to="1"></li>
        <li data-target="#carousel-showcase" data-slide-to="2"></li>
    </ol> -->

    <div class="carousel-inner">
        <div class="item active">
            <a href="#"><img src="/img/data_visualisation.gif"/></a>
            <div class="carousel-caption">
                <h3>Neurobranch</h3>
                <p>Interconnecting patient and investigator</p>
            </div>
        </div>
        <!--<div class="item">
            <a href="#"><img src="http://globalfirstresponder.com/wp-content/uploads/2015/09/slideshow02.jpg"/></a>
            <div class="carousel-caption">
                <h3>Item 2</h3>
                <p>Desc 2</p>
            </div>
        </div>
        <div class="item">
            <a href="#"><img src="https://www.strath.ac.uk/media/1newwebsite/departmentsubject/engineering-electronicandelectrical/departmentpagesimages/sensors,-signals-and-comms-1600x600.jpg"/></a>
            <div class="carousel-caption">
                <h3>Item 3</h3>
                <p>Desc 3</p>
            </div>
        </div>-->
    </div>

    <!--
    <a class="left carousel-control" href="#carousel-showcase" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-showcase" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>-->
</div>

<!-- begin generated content -->
<div class="container">
    <!-- title -->
    <div class="page-header">
        <h3>Current Research</h3>
    </div>

    <!-- grid news -->
    <div id="front-news-grid">
        {{ news_content }}
    </div>

    <!-- neurobranch logo -->
    <div>
        <img src="/img/neurobranch_logo.png" class="logo-image" alt="platform logo"/>
    </div>
</div>
