<!-- Page Content -->
<div id="page-content-wrapper">
    <div class="container-fluid content-main">
        <div class="row">
            <div class="col-lg-12">
                <!-- title -->
                <div class="page-header">
                    <h3>Account Verified</h3>
                </div>
            </div>
        </div>

        <!-- container for holding trial data -->
        <div id="dashboard-content-holder">
            Hey {{researcher.forename}}, your account has been verified successfully via <strong>{{researcher.email}}</strong>!
        </div>
    </div>
</div>