/* carousel */
.content-main {
    padding-top: 50px;
}

.carousel .item {
    width: 100%; /*slider width*/
    max-height: 600px; /*slider height*/
}
.carousel .item img {
    width: 100%; /*img width*/
}

/*full width container*/
@media (max-width: 767px) {
    .block {
        margin-left: -20px;
        margin-right: -20px;
    }
}

/* images */
.logo-image {
    max-width: 250px;
    display:block;
    margin: 30px auto;
}