We want a create questionnaire page in html
On this page the user will be able to input the:
1. Title of the questionnaire (text input)
2.Brief description of questionnaire (text input)
3.Long description of questionnaire (text input)
4.Questionnaire type(spinner)
5.Questionnaire quota (number input)
6.Tags(predefined tags only can be added) 
7.Questionnaire Duration (number input)
8.Second Description (text input)
9.Eligibility form (radio button)
If eligibility form selected, a new window should pop up with a form similar to questionnaire form and all its attributes and functions
Below these options there will be a questionnaire form that has to be created.
The questionnaire form will consist of:
1.A question title (Text input)
2.A question type (spinner -> checkbox , text , scale, radio buttons)
3.If text is selected, nothing happens as the answer is not predefined.
4.If checkbox is selected, a button should drop down to allow addition of predefined answers for the checkbox answer.
5.If radio button is selected same as checkbox.
6.If scale is selected ,nothing happens as answer is not predefined.
7.For checkbox and radio buttons , when a new answer option is added there should be an additional text box beside the answer option input for a score.
8.Eg . Question title -> Do you like apples?
spinner-> checkbox
Option one- > Yes , Score-> 5
Option two -> No , Score -> 3
Option three-> Sometimes , Score ->1
Questions and options should have respective ids, so the id=”question 1” for question 1 and so forth for options.


I hope this isnt confusing , please dont hessitate to contact me if you have any further questions. This link should clarify things http://stackoverflow.com/questions/30739171/nested-dynamically-generated-forms-using-jquery
